<!-- <textarea rows="5" cols="140">
  1.if start time geter then today : challenge will be start at 1 day: 3 hour: 50 minite: 15 second
  2. if start time less then today time then : compare today & end date
  3.if end time geter then today : challenge expaire on 0 days : 2 hour : 10  minite : 35 second
  4.if end time less then today time then : this challange expaire
</textarea>

<h3>Start time</h3>
<countdown
  [config]="{ leftTime: startTimeInSecond, format: 'MMMM dd yyyy, hh:mm:ss a' }"
></countdown>

<h3>End time</h3>
<countdown
  [config]="{ leftTime: endTimeInSecond, format: 'MMMM dd yyyy, hh:mm:ss a' }"
></countdown>
-->
<!-- 
<h3>current time</h3>
<countdown [config]="{ leftTime: result, format: 'hh:mm:ss' }"></countdown> -->
